#root {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  font-family: Helvetica;
  align-items: flex-start;
}

.list {
  background-color: #f9f9f9;
  border: thin solid #f1f1f1;
  padding: 5px 10px;
  margin: 20px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.title {
  font-size: 2rem;
  margin-bottom: 5px;
}

.list-content {
  padding: 5px 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 5px 10px;
  font-family: sans-serif;
  background-color: #eee;
}

.addListButton {
  margin-top: 20px;
}

.custom-context-menu {
  position: fixed;
}

.deleteItemButton {
  margin: 1px;
  padding: 0 0;
  background: transparent;
  color: #909090;
  font-size: 0.5rem;
  border: none;
  cursor: pointer;
}
