.calendar {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 40vh;
}

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: 100%;
  margin-top: 5px;
  align-self: center;
}

.calendar-day {
  display: flex;
  justify-content: space-between;
  width: 14%;
  flex: 0 0 14%;
  border: thin solid #eee;
}

.calendar-day-today {
  background-color: #eee;
}

.calendar-day-number {
  margin: 5px 5px;
}

.calendar-day-name {
  margin: 6px 5px 0 0;
  padding: 0;
  font-size: 0.8rem;
}

.week-switch-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-self: center;
}

.week-switch-button {
  cursor: pointer;
}
