/* navbar height */
:root {
  --navbar-height: 40px;
  --navbar-bg-color: #6aa6ff;
}

.root {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  display: flex;
  justify-content: center;
}

.navbar-title {
  margin-right: 40%;
  font-size: 2em;
}

.navbar-settings {
  margin-left: 40%;
  font-size: 1.1em;
  padding: 0 4px 3px 4px;
  border: thin solid #eee;
  border-radius: 2px;
  background-color: lightgray;
}

.navbar-settings:hover {
  cursor: pointer;
}

.navbar-item {
  margin-top: -3px;
  align-self: center;
}

.settings-menu {
  background-color: white;
  position: fixed;
  list-style: none;
  padding: 5px 5px 5px 5px;
  margin: 0;
  box-shadow: 0 0 2px 2px lightgray;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
}

.settings-menu-item {
  padding: 5px;
  margin: 3px;
  border: thin solid grey;
}

.settings-menu-item:hover {
  background: lightgray;
  cursor: pointer;
}

.settings-menu-overlay {
  position: absolute;
  height: 100vh;
  width: 99vw;
  flex-basis: 100vw;
  flex-shrink: 0;
}

/* export box */
.export-display {
  /* align to center */
  position: fixed;
  left: 29vw;
  top: 25vh;
  height: 250px;
  width: 40vw;
  margin: auto;
  padding: 0 2px;
  background: var(--list-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  border: var(--list-border);
  border-radius: var(--list-border-radius);
}

.export-content {
  margin: auto;
  width: 99%;
  height: 80%;
  resize: none;
}

.export-buttons {
  border: var(--list-border);
  border-radius: var(--item-border-radius);
  background: var(--list-bg-color);
  padding: 3px;
  margin: auto;
}

.export-buttons:hover {
  cursor: pointer;
  background: #999;
}

