.root {
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: #6aa6ff;
  display: flex;
  justify-content: center;
}

.navbar-title {
  margin-right: 40%;
  font-size: 2em;

}

.navbar-settings {
  margin-left: 40%;
  font-size: 1.1em;
  padding: 0 4px 3px 4px;
  border: thin solid #eee;
  border-radius: 2px;
  background-color: lightgray;
}

.navbar-settings:hover {
  cursor: pointer;
}

.navbar-item {
  margin-top: -3px;
  align-self: center;
}

.settings-menu {
  background-color: white;
  position: fixed;
  list-style: none;
  padding: 5px 5px 5px 5px;
  margin: 0;
  box-shadow: 0 0 2px 2px lightgray;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
}

.settings-menu-item {
  padding: 5px;
  margin: 3px;
  border: thin solid grey;
}

.settings-menu-item:hover {
  background: lightgray;
  cursor: pointer;
}

.settings-menu-overlay {
  position: absolute;
  height: 100vh;
  width: 99vw;
  flex-basis: 100vw;
  flex-shrink: 0;
}

/* export box */
.export-display {
  /* align to center */
  position: fixed;
  left: 30vw;
  top: 25vh;
  height: 150px;
  width: 40vw;
  margin: 2px;
  padding: 2px;
}

.export-box-textarea {
}
