/* Globals */
:root {
  --list-bg-color: #ddd;
  --list-content-color: #f9f9f9;
  --list-border: thin solid #bbb;
  --list-border-radius: 7px;
  --item-border-bottom: thin solid #bbb;
  --item-border-radius: 3px;
}
  
@media screen and (max-width: 736px) {
  
  .calendar-container {
    overflow-x: auto;
    flex-direction: row;
    height: 30%;
  }
  
  .todo-container {
    overflow-x: auto;
    flex-direction: row;
  }
  
  .todo-individual {
    width: 80%;
    height: 60%;
  }
  
  .calendar-individual {
    height: 100%;
    width: 90%;
  }
}

@media screen and (min-width: 736px) {
  .calendar-individual {
    width: 14%;
  }
  
  .todo-individual {
    width: 20%;
    height: 40%;
  }
  .calendar-container, .todo-container {
    flex-wrap: wrap;
    height: 30%;
  }
}

.calendar {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 30%;
}

.todo {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.calendar-container {
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  width: 90vw;
  margin-top: 5px;
  align-self: center;
  height: 100%;
}

.calendar-individual {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 0 0 auto;
  border: var(--list-border);
  border-radius: var(--list-border-radius);
  background-color: var(--list-bg-color);
  height: 100%;
}


.calendar-individual-title {
  margin: 6px 5px;
  padding: 0;
  font-size: 0.8rem;
}

.todo-container {
  display: flex;
  width: 90vw;
  align-self: center;
  align-items: flex-start;
  flex-grow: 1;
}

.todo-individual {
  background-color: var(--list-bg-color);
  border: thin solid #bbb;
  border-radius: 7px;
  margin: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  overflow-y: auto;
}

.todo-list {
  background-color: var(--list-content-color);
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  height: 100%;
  overflow-y: auto;
}

.calendar-list {
  background-color: var(--list-content-color);
  padding: 5px 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  height: 90%;
  overflow-y: auto;
}

.todo-individual-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.5rem;
  margin: 6px 5px;
}

.list-delete-button {
  border: none;
  cursor: pointer;
  margin: 2px 0;
  padding: 3px 3px;
}

.list-delete-button:hover {
  background-color: #bbb;
}


.list-content {
  padding: 5px 0;
  height: 100%;
  overflow-y: auto;
}

.list-item-label {
  width: 100%;
  flex: 1 1 auto;
}

.list-item-objects {
  padding: 10px 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-wrap: break-word;
  margin-bottom: 8px;
  padding: 0px 10px;
  border-bottom: var(--item-border-bottom);
  border-radius: var(--item-border-radius);

  background-color: var(--list-bg-color);
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 0.8rem;
}

.list-item:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

.addListButton {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 1rem;
  margin-top: 20px;
  padding: 10px 10px 10px 7px;
  border-radius: 5px;
  border: thin solid #bbb;
}

.item-menu {
  position: fixed;
  background-color: #ccc;
  padding: 4px 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.item-menu:focus {
  outline: none;
}

.addItemButton {
  margin-bottom: 4px;
  flex: 0 0 auto;
  width: auto;
  border: none;
  background: transparent;
}

.addItemButton:hover {
  background-color: #999;
}

.deleteItemButton {
  background: transparent;
  font-size: 4px;
  border: none;
  cursor: pointer;
}

.deleteItemButton:hover {
  background-color: #999;
}
