.calendar {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  height: 30%;
}

.calendar-day {
  display: flex;
  justify-content: flex-start;
  width: 14%;
  flex: 0 0 14%;
  border: thin solid #eee;
}

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 90vw;
  margin-top: 5px;
  align-self: center;
}

.calendar-day-name {
  margin: 6px 5px;
  padding: 0;
  font-size: 0.8rem;
}

.todoboard {
  display: flex;
  width: 90vw;
  align-self: center;
  flex: 0 0 25%;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: auto;
}

.list {
  background-color: #f9f9f9;
  border: thin solid #f1f1f1;
  padding: 0 10px;
  margin: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  width: 20%;
  height: 90%;
}


.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.5rem;
  margin-bottom: 5px;
  margin-top: 3px;
}

.list-delete-button {
  border: none;
  cursor: pointer;
  margin: 2px 0;
  padding: 3px 3px;
}

.list-delete-button:hover {
  background-color: #bbb;
}


.list-content {
  padding: 5px 0;
  height: 100%;
  overflow-y: auto;
}

.list-item-label {
  flex: 1;
}

.list-item-objects {
  padding: 10px 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0px 10px;
  margin-right: 3px;
  font-family: sans-serif;
  background-color: #eee;
}

.addListButton {
  margin-top: 20px;
}

.item-menu {
  position: fixed;
  background-color: #ccc;
  padding: 4px 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.item-menu:focus {
  outline: none;
}

.deleteItemButton {
  margin: 0;
  padding: 10px 0;
  background: transparent;
  color: #909090;
  font-size: 8px;
  border: none;
  cursor: pointer;

}
